# App
NODE_ENV=development
USE_MOCK_DATA=true
APP_BASE_URL=http://localhost:3000
API_TIMEOUT_MS=15000
SYNC_DEFAULT_DAYS=7

# Database
DATABASE_URL=postgresql://sac_user:sac_password@localhost:5432/sac_vtex_monitor?schema=public

# VTEX
VTEX_ACCOUNT=
VTEX_ENVIRONMENT=vtexcommercestable
VTEX_APP_KEY=
VTEX_APP_TOKEN=

# Pagar.me
PAGARME_API_KEY=
